{% extends 'base.html.twig' %}

 {% block stylesheets %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <link rel="stylesheet" href="{{asset('css/style.css')}}">
 
 {% endblock %}





{% block javascripts %}

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
 integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
 crossorigin=""></script>
<script src="{{asset('js/map.js')}}"></script>

<script>$(function(){
   init()
});
</script>
{% endblock %}


{% block body %}
<div class="container">
   <h1>Bonjour {{username}}</h1>
   <div id="mapid"></div>
    
</div>

<div class="container">
   {{username}}
   <a href="{{ path('infos')}}">Cliquez ici pour infos</a><br>
   {% for balise in balises %}
      <div class="{{balise.id}}" 
         data-etat="{{balise.etat.etat}}" 
         data-id="{{balise.id}}" 
         data-nom="{{balise.nom}}" 
         data-longitude="{{balise.longitude}}" 
         data-latitude="{{balise.latitude}}">
         

         
      </div>
     
      <div id="{{balise.id}}" style="display: none;"></div>

   {% endfor %}

{# 
    <h2>{{balise.nom}}</h2>
                <h5>id={{balise.id}}</h5>

                    <ul> longitude:{{balise.longitude}}</ul>
                    <ul> latitude:{{balise.latitude}}</ul>
                

      {% for intervention in balise.interventions %}

         date intervention: {{ intervention.date | date("d/m/Y")}} <br>
         type intervention: {{ intervention.type}} <br>
         commentaires: {{ intervention.commentaires}} <br>

      {% endfor %} #}
</div>
{% endblock %}
