{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

<h1>Accueil</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quasi perspiciatis esse consequatur ex voluptatem explicabo corporis, quis expedita exercitationem quam labore tempora iste asperiores aut beatae adipisci ipsam itaque.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas eveniet corrupti, voluptates magnam modi nisi cupiditate officiis debitis omnis sapiente repudiandae quia, maxime similique, praesentium quis? Totam delectus voluptas consequatur.
</div>

{% endblock %}







