{% extends 'base.html.twig' %}

{% block title %}Hello InfosController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div class="container">
        {% for balise in balises %}
                <h2>{{balise.nom}}</h2>
                <h5>id={{balise.id}}</h5>

                    <ul> longitude:{{balise.longitude}}</ul>
                    <ul> latitude:{{balise.latitude}}</ul>
                

                    <td>
                        {% for intervention in balise.interventions %}
                            date intervention: {{ intervention.date | date("d/m/Y")}} <br>
                            type intervention: {{ intervention.type}} <br>
                            commentaires: {{ intervention.commentaires}} <br>
                        {% endfor %}


                    
                    
                    
                    
                    {# <ul> {{balise.etat}}</ul>
                    <ul> {{balise.capteurs}}</ul> #}
               

        {% endfor %}
    </div>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/workspace/ogoxe_techtool_7.3.5testBDD/src/Controller/InfosController.php'|file_link(0) }}">src/Controller/InfosController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/workspace/ogoxe_techtool_7.3.5testBDD/templates/infos/index.html.twig'|file_link(0) }}">templates/infos/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
