<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path('home')}}">OgoXe TechTool</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    {% if app.user %}
    <a class="nav-item nav-link" href="{{ path('app_logout') }}">logout</a>
    {% else %}

      <a class="nav-item nav-link" href="{{ path('app_login') }}">login</a>
     {% endif %}

    </div>
  </div>
</nav>

